## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
import random
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[58, 61, 0, 5, 85, 68, 50, 51, 6, 19, 66, 29, 2, 45, 28, 14, 21, 88, 76, 4, 8, 39, 48, 81, 79, 16, 90, 84, 69, 17, 20, 73, 22, 55, 24, 37, 71, 80, 46, 74, 54, 86, 32, 65, 25, 41, 47, 63, 1, 9, 62, 89, 53, 82, 96, 87, 78, 77, 40, 10, 92, 49, 31, 23, 70, 15, 99, 56, 42, 97, 95, 34, 91, 33, 57, 59, 44, 30, 75, 7]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
import random
sample_list_1 = random.sample(range(100), k=80)
set1 = set(sample_list_1)
print(len(set1))

#length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
import random
sample_list_2 = []

for x in range(0,80):
    x = random.randint(0,100)
    sample_list_2.append(x)
print(sample_list_2)

[50, 93, 70, 91, 77, 85, 72, 2, 90, 32, 71, 94, 62, 72, 72, 49, 7, 66, 32, 28, 48, 70, 89, 2, 70, 82, 40, 21, 94, 21, 85, 71, 52, 21, 27, 79, 5, 14, 85, 98, 61, 39, 50, 18, 79, 31, 67, 42, 73, 50, 10, 38, 68, 37, 90, 72, 96, 67, 48, 73, 99, 82, 4, 57, 7, 0, 52, 42, 61, 0, 72, 61, 56, 95, 58, 7, 6, 69, 12, 34]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#length is no longer 80

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

lst = []
for x in set1:
    if x not in set2:
        lst.append(x)

set3 = set(lst)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

lst2 = []
for x in set2:
    if x not in set1:
        lst2.append(x)

set4 = set(lst2)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

lst3 = []
for x in set1:
    if x in set1 and set2:
        lst3.append(x)

set5 = set(lst3)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
len(set4)

11

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6 = set()
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set6 == set1:
    print("equal")
else:
    print("nope")

equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
union = set3.union(set4, set5)
union2 = set1.union(set2)

if union == union2:
    print("equal")
else:
    print("nope")

equal

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
# Your code here
set1.pop()

42

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{43, 44, 45, 46, 47, 50, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 72, 74, 75, 76, 80, 82, 83, 84, 85, 86, 88, 92, 93, 94, 95, 96, 97, 98}